<!DOCTYPE html>
<html>
    <head>
        <title><%= @title %></title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <h1></h1>
        <div class="col">
            <%= erb(:'partials/navigation', :layout => false) %>
            <div class="row">
                <div class="col-md-6"></div>
                <%= yield %>
            </div>
        </div>
    </body>
</html>