body {
    background-color: #FFF;
    font-size: 20px;
}

div {
    background-color: #9BC53D;
}

h3 {

}

iframe{
    margin-left: 200px;
}

.titles {
    text-align: center;
    font-size: 40px;
}
