<h1>Welcome to the Monster Encyclopedia</h1>

<% @monsters.each do |monster| %>
<div class="row">
	<div class="col-md-2 side"></div>
	<div class="col-md-8">
		<h3><a href="/<%= monster.id %> "><%= monster.title %></a></h3>
		<p><%= monster.description%></p>
	</div>
	<div class="col-md-2 side"></div>
</div>
<% end %>