<% @videos.each do |video| %>
    <div class="col-md-3 videos">
        <h3 class="titles"><a href="/<%= video[:id] %>"><%= video[:title] %></a></h3>
        <iframe class="embed-responsive-item" align="center" width="640" height="480" src="<%= video[:url] %>" allowfullscreen></iframe>
    </div>
<% end %>