/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
/*
* {
  border: 2px solid black;
}*/

header {
  height: 100px;
}

h2 {
  color: #1c5380;
  font-size: 35px;
}

aside {
  display: inline-block;
  float: left;
  margin-left: 100px;
  height: 550px;
}

footer {
  margin: 20px;
  margin-left: 250px;
}

a {
  color :#1c5380;
  margin-left: 20px;
  font-weight: bold;
  text-decoration: none;
}

.paragraph {
  height: 380px;
  width: 400px;
  display: inline-block;
  margin-left: 150px;  
}

.badges {
  margin-left: 550px;

}

.login {
  float: right;
  position: absolute;
  margin-left: 880px;
  display: block;
  background: #1c5380;
  background: left-;
  top: 18.5%;
  width: 100px;
  height: 35px;
}

#blue {
  width: 100%;
  height: 280px;
  position: absolute;
  z-index: -1;
}

#button {
  height: 40px;
  width:100px;
  position: absolute;
  z-index: -1;
}

#frame {
  width:500px;
  height: 300px;
  margin-left: 100px;
  position: absolute;
  z-index: -1
}

#brand {
  margin-left: 100px;
}

#android {
  margin-left: 20px;
}

#insta {
  color: grey;
}

#home {
  margin-left: 10px; 
  margin-top: 5px;
}

#logtxt {
  color: white;
  height: 20px;
  margin-left: 10px;
  position: absolute;
  bottom: 30%;
}